<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="../scripts/feed.js">

function Feed(id,type){
	this.id=id;;
	this.type=type;	
}
Feed.prototype.getID = function(){
	return this.id;
};
Feed.prototype.getType = function(){
	return this.type;
};

function TextFeed(id,text){
	this.id = id;
	this.text = text;
	this.time= new Date();
}

TextFeed.prototype = Object.create(Feed.prototype);

TextFeed.prototype.getFeed = function(){
	return this.text;
}
function URLFeed(id,url){
   alert(" this is in URL Feed");
	this.url=url;
	this.time= new Date();
}
URLFeed.prototype = Object.create(Feed.prototype);

URLFeed.prototype.getFeed = function(){
	return this.url;
}

var feedNew = [];
var feedsArray = [];


var feedService = function(){
       
		  var createFeed;
		  var inputText = document.feedForm.inputText.value;
        
		  
		  return { 
		    
			    createFeed:  function(){
						 
				 if(inputText.length > 4 && (inputText.substring(0,4).toUpperCase() == "HTTP" || inputText.substring(0,3).toUpperCase() == "WWW")){
		               if(inputText.substring(0,3).toUpperCase() == "WWW") {
			    
						inputText ="http://"+inputText;
						feedsArray.push(inputText);
						reloadFeeds(feedsArray, 'URL');
						}
							feed = new URLFeed(1,inputText);
					} else {
							feed = new TextFeed(1,inputText);
							feedsArray.push(inputText);
							reloadFeeds(feedsArray, 'text');
					}
				},
				
				deleteFeed: function(id){
				
				      alert("Hai "+id );
							feedsArray=feedNew;
							feedsArray.splice(id,1);	
							var myfeed = document.getElementById("loadFeeds");
								while (myfeed.firstChild) {
									myfeed.removeChild(myfeed.firstChild);
								}			
						reloadFeeds(feedsArray);
				}
		  };
	  
}


function reloadFeeds(feedsArray, identifier){	

    
	var element = document.getElementById("loadFeeds");	

	while (element.firstChild) {
		element.removeChild(element.firstChild);
	}	
	var feeds = feedsArray;	

	feedNew=feeds;

	var div = document.createElement("div");
	
	var userFeed,userFeedText,userFeedDelete,userFeedDate,img,node,input,node1,index,userIcon;
	
		for(var i=0,l=feeds.length;i<l;i++){
		
			userFeed = getElement("div","userFeed");
			userFeedText = getElement("div","UserFeedText");
			userFeedDelete = getElement("div","UserFeedDelete");
			userFeedDate = getElement("div","UserFeedDate");
			userIcon = getElement("div","userIcon");
			
			
			img = document.createElement("img");		
			img.setAttribute("src", "../img/dp.jpg");
			img.setAttribute("height", "40px");
			img.setAttribute("width", "40px");
			
			
			userIcon.appendChild(img);
			userIcon.setAttribute("id", "img1");
			node = document.createElement("a");
		//	if(identifier === 'URL'){
		//	alert("this is URL "+feeds[i]);
		//	    node.setAttribute("href", feeds[i]);
		//	}
			if(feeds[i] instanceof URLFeed){
    			node.setAttribute("href", feeds[i].getFeed());		
			}
			
			node.setAttribute("id", "txt");
		 //	node.innerHTML=feeds[i].getFeed();
		    node.innerHTML = feeds[i];
			userFeedText.appendChild(node);
			
			input = document.createElement("input");		
			input.setAttribute("type", "button");
			input.setAttribute("onclick", ("deleteFeeds("+i+")"));
			input.setAttribute("id", "but");
			
			
			userFeedDelete.appendChild(input);
			
			node1 = document.createTextNode(getDateString(new Date()));
		
     		userFeedDate.appendChild(node1);
			userFeed.setAttribute("id", "feedDiv");
			userFeed.appendChild(userIcon);
			userFeed.appendChild(userFeedText);
			userFeed.appendChild(userFeedDelete);
			userFeed.appendChild(userFeedDate);
			div.appendChild(userFeed);
			
			// var result = "<div class="userFeed" id="feedDiv">" +
						// "<div class="userIcon" id="img1"> <img src="../img/dp.jpg" height="40px" width="40px"></div>" +
						// "<div class="UserFeedText"><a id="txt">sdfsf</a></div>" +
						// "<div class="UserFeedDelete"><input type="button" onclick="deleteFeeds(i)" id="but"></div>"+
						// "<div class="UserFeedDate">10/28/2014 2:35 PM</div></div>"
			// element.appendChild(result);
			
			
			
						// var result = "<div class="userFeed" id="feedDiv">" +
						// "<div class="userIcon" id="img1"> <img src="../img/dp.jpg" height="40px" width="40px"></div>" +
						// "<div class="UserFeedText"><a id="txt">sdfsf</a></div>" +
						// "<div class="UserFeedDelete"><input type="button" onclick="deleteFeeds(i)" id="but"></div>"+
						// "<div class="UserFeedDate">10/28/2014 2:35 PM</div></div>"
			// element.appendChild(result);
			
			
		}
	element.appendChild(div);
	
	
	
	
	
}


function getElement(type,styleClass){
	var element = document.createElement(type);
	element.setAttribute("class",styleClass);
	return element;
}

var createFeeds = function(){
  alert("1"); 
   var fObj= feedService();
      fObj.createFeed();
}


var deleteFeeds = function(id){
  alert("going to Delete"); 
   var fObj= feedService();
      fObj.deleteFeed(id);
}

function getDateString(date){
	return (date.getMonth()+1) +"/"+ (date.getDate()) + "/"+(date.getFullYear()) + " " + (date.getHours() > 12 ? date.getHours() - 12 : date.getHours() )+":"+(date.getMinutes()) + " " + (date.getHours() > 12 ? "PM" : "AM" );
}

</script>





</head>
<body>

<form name="feedForm">
<table width="100%" border="0">
  <tr>
    <td colspan="2" bgcolor="#b5dcb3">
      <h1>My Book</h1>
    </td>
  </tr>
  <tr valign="top">
    <td bgcolor="#aaa" width="10%">
      <b>Feed</b><br />
      <b>Profile</b>
      
    </td>
    <td bgcolor="#eee" width="50%" height="520">
     <table border="1">
	   <tr height="100">
	     <td width="100%"><input type="text" size="100" name="inputText"> <input type="button" value="Post" onClick="createFeeds();"></td>
		 
	   </tr>
	   <tr height="80" bgcolor="#554433">
	    <td width="100%"> <div id="loadFeeds"></div>  </td> 
		 
	   </tr>
  
	   
	 </table>

    </td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#b5dcb3">
      <center>
      Talent Improving exercise, OFS
      </center>
    </td>
  </tr>
</table>
<form>
</body>
</html>